

.container{
     background-image: url(../images/backgrounds/legimg.jpg) ;
     background-repeat: no-repeat;
     background-position: center;
    height: 900px;
    width: 1900px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    font-size: 28px;
    text-align: center;
    font-family: sans-serif;
    color: white;
   
}

.about{
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}
.service{
    background-image: url(../images/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 488px;
    width: 1900px;
    max-width: 100%;
    max-height: 100%;
    
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    color: white;

    position: relative;
    
}
.whatwedo{
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}
.portfolio{
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    float:inline-start
}
.contact{
    background-image: url(../images/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 663px;
    width: 1900px;
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

.foot{
    font-size: 8px;
    text-align: center;
    font-family: sans-serif;
}
.socialicons{
    display:flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter{
    background: #55ACEE;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  .fa-flickr {
    background: grey;
    color: white;
  }
  .fa-google-plus{
      background: red;
      color:white
  }