

.container{
     background-image: url(../images/backgrounds/legimg.jpg) ;
     background-repeat: no-repeat;
     background-position: center;
    height: 900px;
    width: 1900px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    font-size: 28px;
    text-align: center;
    font-family: sans-serif;
    color: white;
   
}

.about{
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}
.service{
    background-image: url(../images/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 488px;
    width: 1900px;
    max-width: 100%;
    max-height: 100%;
    
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    color: white;

    position: relative;
    
}
.whatwedo{
    position: relative;
    width: 200px;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

.designoverlay{
    position: relative;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25en;
}
.designoverlay:hover{
    opacity: 1;
}
.designtitle{
    font-size: 2en;
    font-weight: bolder;
}
.designdescrip{
    font-size: 1.25en;
    margin-top: 0.25en;
}
.designpri{
    background-color: white;
}
.devoverlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25en;
}
.devoverlay:hover{
    opacity: 1;
}
.devtitle{
    font-size: 2en;
    font-weight: bolder;
}
.devdescrip{
    font-size: 1.25en;
    margin-top: 0.25en;
}
.prooverlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25en;
}
.prooverlay:hover{
    opacity: 1;
}
.protitle{
    font-size: 2en;
    font-weight: bolder;
}
.prodescrip{
    font-size: 1.25en;
    margin-top: 0.25en;
}
.portfolio{
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    float:inline-start
}
.contact{
    background-image: url(../images/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 503px;
    width: 1900px;
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    
}
#messagee{
    background-color: transparent;
}

#name{
    background-color: transparent;
}
#email{
    background-color: transparent;
}
.foot{
    font-size: 8px;
    text-align: center;
    font-family: sans-serif;
}
.socialicons{
     display:flex;
    flex-direction: row;
    position: relative;  
    cursor: pointer;
    padding: 10px 40px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;    
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter{
    background: #55ACEE;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  .fa-flickr {
    background: grey;
    color: white;
  }
  .fa-google-plus{
      background: red;
      color:white;
  }